header h1 {
  text-align: center;
}

/**-----------------------
    @@@Header
------------------------**/

header .logo {
  float: left;
  background: url(./img/logo_santraplus.png);
}

body {
  background: url(./img/background_body.jpg) center top no-repeat fixed;
}
header .logo {
  float: left;
  background: url(./img/logo_santraplus.png) center center no-repeat;
}
