/**-----------------------
    @@@Container
------------------------**/

/**-----------------------
@@@Header
------------------------**/

header h1 {
  text-align: center;
}
header h2 {
  text-align: center;
  text-decoration: none;
}

.logo {
}
header .logo {
  float: left;
  background: url(./img/logo_santraplus.png);
}

body {
  background: url(./img/background_body.jpg) center top no-repeat fixed;
}
header .logo {
  float: left;
  background: url(./img/logo_santraplus.png) center center no-repeat;
}

/**-----------------------
@@@Mes références
------------------------**/

/**-----------------------
@@@Salarié
------------------------**/

/**-----------------------
@@@Information 
complémentaires
------------------------**/
#list-categories span {
  color: blue;
}

#list-categories legend {
  text-align: center;
}

/**-----------------------
    @@@Demande 
    de 
    rendez-vous
------------------------**/

/**-----------------------
    @@@Annuler ou 
    reporter un rendez-vous
------------------------**/
