body {
  background: url(./img/background_body.jpg) center top no-repeat fixed;
}

fieldset > legend {
  font-weight: bold;
  font-size: 20px;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
fieldset > legend {
  font-family: Georgia, "Times New Roman", Times, serif;
}
/**-----------------------
    @@@Container
------------------------**/

/**-----------------------
@@@Header
------------------------**/

.site-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.site-header a {
  width: 100px;
  height: auto;
  background-image: url(./img/logo_santraplus.png);
  align-self: flex-start;
  align-items: flex-start;
}

/**-----------------------
@@@Mes références
------------------------**/
#mes-references {
  border-color: orange;
}
/**-----------------------
@@@Salarié
------------------------**/
#salarie {
  border-color: green;
}
/**-----------------------
@@@Information 
complémentaires
------------------------**/
#list-categories span {
  color: blue;
}

#list-categories legend {
  text-align: center;
}

#additional-information {
  border-color: blue;
}

.cat > legend {
  font-weight: bold;
}

/**-----------------------
    @@@Demande 
    de 
    rendez-vous
------------------------**/

/**-----------------------
    @@@Annuler ou 
    reporter un rendez-vous
------------------------**/
